<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Todo Homepage</title>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include("header.ejs") %>
            <form>
                <div class="flex gap-2 py-4">
                    <div class="flex-auto">
                        <input type="text" placeholder="What's next?" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm" required>
                    </div>
                    <div class="flex-auto">
                        <input type="date" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4">
                    </div>
                    <div class="flex-none">
                        <button type="submit" class="bg-green-600 px-5 py-1.5 text-white rounded font-medium mr-2 mb-2">Add</button>
                    </div>
                </div>
            </form>
            <div>
                <div>
                    <h5 class="font-semibold inline ">Overdue</h5>
                    <h6 class="inline px-2 font-bold text-sm bg-gray-200 rounded" id="count-overdue"><%= allTodos.length %></h6>
                    <%- include("todos.ejs") %>
                </div>
                <div>
                    <h5 class="font-semibold inline">Due Today</h5>
                    <h6 class="inline px-2 font-bold text-sm bg-gray-200 rounded" id="count-due-today"><%= allTodos.length %></h6>
                    <%- include("todos.ejs") %>
                </div>
                <div>
                    <h5 class="font-semibold inline">Due Later</h5>
                    <h6 class="inline px-2 font-bold text-sm bg-gray-200 rounded" id="count-due-later"><%= allTodos.length %></h6>
                    <%- include("todos.ejs") %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>